.gpt3__header {
    display: flex;
    flex-direction: row;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 5px;
}
.gpt3__header-content h2{
    font-size: 30px;
    margin: 0px;
    color: white;
    justify-content: center;
    align-items: center;
}
.gpt3__header-content ul {
    font-family: var(--font-family);
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-left: 2rem;

}

.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
    flex-direction: row;
}


.gpt3__header-content__input a {
    flex: 0.6;
    width: 100%;
    margin-top: 0px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20x;
    line-height: 48px;
    background: #fff;
    border: none;
    text-align: center;
    justify-content: center;
    color: #41403e;
    cursor: pointer;
    outline: none;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.gpt3__header-content__input a:hover{
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.gpt3__header-content__input a:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.gpt3__header-content__people {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
}

.gpt3__header-content__people img {
    width: 181.79px;
    height: 38px;
}

.gpt3__header-image p {
    margin: 0 0 0 1rem;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
    color: #fff;
    text-align: center;
}

.gpt3__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gpt3__header-image img {
    width: 80%;
    height: 60%;
}

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .gpt3__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    }
}

